{% extends 'base.html.twig' %}

{% block title %}Новый пользователь{% endblock %}

{% block body %}
    <h1>Создать нового пользователя</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">назад</a>
{% endblock %}
